{% extends 'base.html' %}

{% block contect %}
<section class="section">
  <div class="container align-center">
    <div class="columns">
      <div class="column">
        <article>
          <div class="card" style="background-color: {{ letter.color }}">
            <div class="card-content">
              <p class="letter-text" style="color: {{ letter.text_color }}">
                {{ letter.message }}
              </p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span style="color: {{ letter.text_color }}">
                  Para: {{ letter.name }}
                </span>
              </p>
            </footer>
          </div>
        </article>
        <p class="pl-2">
          {{ letter.letter_date }}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}