
.card{
    background-color: #fcfcfc;
    /* height: 27rem; */
    border-radius: 12px;
}

.card a{
    color: #4a4a4a;
}
.teste{
    color:red;
}
/* .card-content {
    height: 26rem;
} */

.card-footer{
    border-top: none;
}
.card-footer-item{
    justify-content: left;
    padding: .75rem .75rem .75rem 1.5rem;
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center .card{
    margin-bottom: 2rem;
    width: 27rem;
}

.letter-text{
    color: #363636;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}