{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Não enviadas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/8111ef0cbd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/blog/style.css' %}">

    {% block extra_header %}{%endblock%}
  </head>
  <body>
  <section class="section">
    <div class="container">
        <header>
            <nav class="navbar">
                <div class="container">
                  <div class="navbar-brand">
                    <a class="navbar-item has-text-weight-bold" href="{% url 'home' %}">
                      <img src="" alt="Não envidas">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                      <a class="navbar-item has-text-weight-bold" href="{% url 'home' %}">
                        Inicio
                      </a>
                      <a class="navbar-item has-text-weight-bold" href="{% url 'add-letter' %}">
                        Adicionar
                      </a>
                      <a class="navbar-item has-text-weight-bold">
                        Sobre
                      </a>
                    </div>
                  </div>
                </div>
              </nav>
        </header>
        {% block contect %}
        {% endblock %}
    </div>
    <footer class="footer">
      <div class="section">
        <div class="container">
          <hr>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <a class="title is-5" href="#">
                  <p class="has-text-weight-bold">Não enviadas</p>
                </a>
              </div>
            </div>
            <div class="level-right">
              <a class="has-text-black pl-5 has-text-weight-bold" href="{% url 'home' %}">
                Inicio
              </a>
              <a class="has-text-black pl-5 has-text-weight-bold" href="{% url 'add-letter' %}">
                Adicionar
              </a>
              <a class="has-text-black pl-5 has-text-weight-bold">
                Sobre
              </a>
            </div>
          </div>
          <div class="columns">
            <div class="column">
            </div>
            <div class="column has-text-centered has-text-right-tablet">
              <p class="subtitle is-6">
                <p class="text-muted">
                  <strong>Todo conteúdo está licenciado sobre Creative Commons
                  <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                  Creative Commons.</a>
                </strong>
                </p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  </body>
</html>