{% extends 'base.html' %}

{% block contect %}

<header>
  <section class="section">
    <div class="container">
        <div class="search-center">
            <form action="" method="get">
              <div class="field has-addons">
                <div class="control control has-icons-right pb-6 ">
                  <span class="icon is-right">
                    <i class="fas fa-search"></i>
                </span>
                  <input 
                  class="input is-medium"
                  name="busca" 
                  type="text" 
                  value="{{ busca }}"
                  placeholder="Digite um nome para fazer a buscar..."
                  >
                </div>
              </div>
            </form>
        </div>
    </div>
  </section>
</header>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for letter in object_list %}
                <div class="column is-4-widescreen mb-6">
                    <article>
                      <div class="card" style="background-color: {{ letter.color }}">
                        <div class="card-content">
                          <p class="letter-text" style="color: {{ letter.text_color }}">
                            {{ letter.message }}
                            
                          </p>
                        </div>
                        <footer class="card-footer">
                          <p class="card-footer-item" style="color: {{ letter.text_color }}">
                            <span style="color: {{ letter.text_color }}">
                                Para:
                                <a
                                    href="{% url 'letter-datail' letter.pk %}" style="color: {{ letter.text_color }}">
                                {{ letter.name }}
                                </a>
                            </span>
                        </p>
                        </footer>
                      </div>
                    </article>
                </div>
                {% empty %}
                    Não há mensagens.
            {% endfor %}
        </div>


<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?busca={{ busca }}&page=1">&laquo; primeira</a>
          <a href="?busca={{ busca }}&page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?busca={{ busca }}&page={{ page_obj.next_page_number }}">próxima</a>
          <a href="?busca={{ busca }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
      {% endif %}
  </span>
</div>


    </div>
</section>
{% endblock %}
